.main-chat
  .main-chat__top--box
    .group__info
      %p.group__name test
      %p.member__name Member : masa
    = link_to "Edit", "#",class: "edit--btn"
  .main-chat__messages--box
  .main-chat__form--box