.message__list
  .message__list--container
    .message__info
      %p.message__info--user
        = message.user.name
      %p.message__info--date
        = message.created_at.strftime('%Y年%m月%d日 %H時%M分')
    - if message.body.present?
      %p.message__text
        = message.body
    = image_tag message.image.url, class: "message__image" if message.image.present?