.side
  .side__top
    .side__top--info
      %p.user__name masa
      = link_to '#', class: "icons" do
        = icon('far', 'edit', class: "pen-icon")
        = icon('fas', 'cog', class: "cog-icon")
  .side__group
    %ul.group__list
      %li.group__list--info
        %p.group__list--name techcamp
        %p.group__list--message まだメッセージがありません
      %li.group__list--info
        %p.group__list--name techcamp
        %p.group__list--message まだメッセージがありません
      %li.group__list--info
        %p.group__list--name techcamp
        %p.group__list--message まだメッセージがありません