.side-bar
  .side-bar__top--box
    .side-bar__user--info
      %p.side-bar__user--name masa
      = link_to '#', class: "icons" do
        = icon('far', 'edit', class: "pen-icon")
        = icon('fas', 'cog', class: "cog-icon")
  .side-bar__group--box
    %ul.side-bar__group--list
      %li.group__info
        %p.group__name techcamp
        %p.group__message まだメッセージがありません
      %li.group__info
        %p.group__name techcamp
        %p.group__message まだメッセージがありません
      %li.group__info
        %p.group__name techcamp
        %p.group__message まだメッセージがありません