* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side-bar {
  height: 100vh;
  width: 300px;
  background-color: #2f3e51;

  &__top--box {
    height: 100px;
    background-color: #253141;
  }
}

.main-chat {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;

  &__top--box {
    height: 100px;
    border-bottom: solid 1px #eeeeee;
  }

  &__messages--box {
    background-color: #fafafa;
    height: calc(100% - 190px);
  }

  &__form--box {
    background-color: #d2d2d2;
    height: 90px;
  }
}