* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side-bar {
  height: 100vh;
  width: 300px;
  background-color: #2f3e51;

  &__top--box {
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: center;
    align-items: center;

      .side-bar__user--info {
        height: 20px;
        width: 100%;
        margin: 0 20px;
        color: #ffffff;
        display: flex;
        justify-content: space-between;

          .side-bar__user--name {
            font-weight: bold;
            font-size: 16px;
          }

          .icons {
            height: 60px;
            color: #ffffff;
            text-decoration: none;
            display: flex;
              .pen-icon {
                margin-right: 5px;
              }
          }
      }
  }

  &__group--box {
    .side-bar__group--list {
      list-style: none;

        .group__info {
          height: 91px;
          width: 100%;
          color: #ffffff;
          font-weight: bold;
          padding: 0 20px;

            .group__name {
              font-size: 15px;
              padding-top: 20px;
            }

            .group__message {
              font-size: 11px;
              padding-top: 5px;
              padding-bottom: 40px;
            }

        }
    }
  }
}

.main-chat {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;

  &__top--box {
    height: 100px;
    border-bottom: solid 1px #eeeeee;
  }

  &__messages--box {
    background-color: #fafafa;
    height: calc(100% - 190px);
  }

  &__form--box {
    background-color: #d2d2d2;
    height: 90px;
  }
}